<html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/python.min.js"></script>
<script>hljs.highlightAll();</script>

<head>
<title>ITk Module Test GUI - {% block page_title %}Top{% endblock page_title %}</title>
</head>

<body>
{% block javascript %}{% endblock %}

<h1 style="background-color: rgb(56, 125, 187); color: white; text-indent: 10px;">ITk Strips Test GUI</h1>

<img src="{% static 'images/atlas_logo.png' %}" alt="atlas_logo" width="164.25" height="73.5" align="right">
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'display_data:index' %}">Home</a></li>
            <li><a href="{% url 'display_data:component ID form' %}">Get component status summary</a></li>
            <!-- <li><a href="{% url 'display_data:upload form' %}">Upload test</a></li> -->
            <li><a href="{% url 'display_data:summary of cached' %}">Recently retrieved component summaries</a></li>
            <li><a href="{% url 'display_data:list insts' %}">List of institutes</a></li>
            <li><a href="{% url 'display_data:view comp list' %}">List of components</a></li>
            <li><a href="{% url 'display_data:login' %}"}>Log in page for token</a></li>
        </ul>
        {% endblock %}
    </div>

<h2 style="text-indent: 10px">{% block title %}Home{% endblock title %}</h2>
<hr>
    <div id="messages">
        {% block messages %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block loader %}
      {# Somewhere to put spinner code while loading #}
    {% endblock loader %}
</body>
</html>
