{% extends "base.html" %}

{% load static %}

{% block page_title %}Request component status{% endblock %}
{% block title %}Get component status summary{% endblock %}

{% block javascript %}
<script src="{% static 'main.js' %}" defer> </script>
{% endblock %}

{% block content %}
<form action="{% url 'display_data:component ID form' %}" method="post" id="form">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" name="get_test_summary" value="Get test summary">
  <input type="submit" name="get_tree_view" value="Get defect tree view">
  <input type="submit" name="get_module_summary_test" value="Get module summary test view">
  <input type="submit" name="get_hybrid_summary_test" value="Get hybrid summary test view">
</form>
{% endblock %}

{% block loader %}
<div id="loader_box">
  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>
</div>
{% endblock %}
