{% extends "base.html" %}

{% load static %}

{% block page_title %} Component info for {{ component.serialNumber }} {% endblock %}
{% block title %} Component summary for {{ component.serialNumber }} {% endblock %}

{% block javascript %}
<script src="{% static 'main.js' %}" defer> </script>
{% endblock %}

{% block content %}

<p style="margin-bottom:0.2cm">ATLAS serial number: {{ component.serialNumber }} <br> </p>
<p style="margin-bottom:0.5cm">Component ID: {{ component.component_ID }} </p>
<p style="margin-bottom:0.2cm">Parent component: {{ component.parents_type }} <br> </p>
{% if component.parents_type != 'No parent components' %}
<p style="margin-bottom:0.2cm">ATLAS serial number: <a href="{% url 'display_data:view component' component.parents_serial %}">{{ component.parents_serial }}</a> (click on link for new request) <br> </p>
<p style="margin-bottom:1cm">Component ID: {{ component.parents_ID }} </p>
{% endif %}

<a href="{% url 'display_data:another request' component.component_ID %}">Fetch test summary</a> </p>

<a href="{% url 'display_data:defect_tree_view' component.component_ID %}">Fetch defect tree</a> </p>

{% if link_summary %}
<p>Generate component specific summary test: <a href="{{ link_summary }}"> here </a> </p>
{% endif %}

<a href="https://itkpd-test.unicorncollege.cz/componentView?code={{ component.component_ID}}" target="_blank" rel="noopener noreferrer">Link to DB</a>


</div>
{% endblock %}
