{% extends "base.html" %}

{% block page_title %} Component list {% endblock %}
{% block title %} List of components {% endblock %}

{% block content %}

<form action="" method="get" id="filter_form">
  {% csrf_token %}
  {{ filter_form }}
  <input type="submit" value="Update filter">
  <input type="hidden" name="page" value="{{page_obj.number}}">
</form>

<p> List of components </p>

<table>
  <thead>
    <tr>
      {% for name in col_list %}
      <th>{{name}}</th>
      {% endfor %}
      <th><!-- details button --></th>
      <th><!-- DB link --></th>
    </tr>
  </thead>
  <tbody>
    {% for comp in comp_list %}
    <tr>
      {% for data in comp.table_data %}
      <td>{{ data }}</td>
      {% endfor %}
      <td>
        <a href="{% url 'display_data:view component' comp.code %}">Details</a>
      </td>
      <td>
        <a href="https://itkpd-test.unicorncollege.cz/componentView?code={{ comp.code}}" target="_blank" rel="noopener noreferrer">DB Link</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p> Finished list of components </p>

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% endblock %}
