{% extends "base.html" %}

{% block page_title %} Hybrid summary test {% endblock %}
{% block title %} Hybrid summary test {% endblock %}

{% block content %}



<p>
    Hybrid summary test for ATLAS ITK project
</p>

<p>
    <a href="{{test_summary_link}}">Link to generic test summary </a>
</p>

<ul>
    <li>Time start is {{ time_start }}</li>
    <li>Time end is {{ time_end }}</li>
    <li>Runtime is {{ runtime }}</li>
</ul>

<p>
    This component was looked up by the key "{{lookup_key}}".
</p>
<p>
    <a href="{{component_db_link}}">DB link to component</a>
</p>
<p>
    Hybrid summary test as dict is:
</p>
<p>
    <pre><code class="language-python">{{hybrid_summary_string}}</code></pre>
</p>

{% endblock %}