{% extends "base.html" %}

{% block content %}
  <p>Use <a href="{% url 'display_data:component ID form' %}">Get component status summary</a> to display all test results associated to a component.</p>
  <p>If you are not registered as a user in the ITk production database, please create your account there.</p>

<h2>Example components</h2>

  {% for example in example_list %}

    <p> <a href="{% url 'display_data:view component' example.id %}"> {{ example.desc }}</a>

  {% endfor %}

{% endblock %}

