{% extends "base.html" %}

{% block page_title %} List {{ inst_code }} {{ ct_code }} {% endblock %}
{% block title %} List of components at institute {% endblock %}

{% block content %}

<p> Institute {{ inst_code }} component type {{ ct_code }}
<p> NB only the top 10 components are listed

    {% for comp in have_list %}
      <p>Test summary for 
        {% if comp.sn %}
          <a href="{% url 'display_data:test results' comp.sn %}">
            {{ comp.sn }}
          </a>
        {% else %}
          <a href="{% url 'display_data:test results' comp.code %}">
            anonymous
          </a>
        {% endif %}
    {% endfor %}

    {% for comp in missing_list %}
    <form style="margin: 0; padding: 0;" action="{% url 'display_data:component ID form' %}" method="POST">
        {% if comp.sn %}
        <p> Component {{ comp.sn }}
        {% elif comp.alt_id %}
        <p> Alt component {{ comp.alt_id }}
        {% else %}
        <p> Anonymous component {{ comp.code }}
        {% endif %}
      {% csrf_token %}
        <input hidden="true" type="checkbox" name="without_request" id="id_without_request">
        <input hidden="true" name="Component_ID" id="id_Component_ID" value="{{comp.code}}">
        <input type="submit" value="Fetch">
    </form>
 </p>
    {% endfor %}

{% endblock %}
