{% extends "base.html" %}

{% block page_title %}Institutes{% endblock %}
{% block title %}Known institutes{% endblock %}

{% block content %}
    {% for inst in insts %}
      <p>Institute summary
        <a href="{% url 'display_data:view inst' inst.inst_code %}">
          {% if inst.inst_name %}
            {{ inst.inst_name }}
          {% else %}
            {{ inst.inst_code }}
          {% endif %}
        </a>
      </p>
      {% endfor %}

    <form action="{% url 'display_data:fetch insts' %}" method="POST">
      {% csrf_token %}
      <div>
        <input type="submit" value="Refresh institute list">
      </div>
    </form>
{% endblock content %}
