{% extends "base.html" %}
{% load static %}

{% block page_title %} Login {% endblock %}
{% block title %} Login to Production Database using token {% endblock %}

{% block javascript %}
<script src="{% static 'main.js' %}" defer> </script>
{% endblock %}

{% block content %}

<form action="{% url 'display_data:login_token' %}" method="post" id="form">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Get">
</form>
{% endblock %}
