{% extends "base.html" %}
{% load static %}

{% block page_title %} Login {% endblock %}
{% block title %} Login to Production Database {% endblock %}

{% block javascript %}
<script src="{% static 'main.js' %}" defer> </script>
{% if do_openid %}
  <script>
    function buildURL(){
      var baseURL = "{{ base_oidc }}";

      var url = new URL(window.location.href);
      url.pathname = "{{ receiver }}";

      var args = {
        response_type: "id_token token",
        response_mode: "query",
        redirect_uri: url,
        client_id: "{{ client_id }}",
        {% if client_secret %}
        client_secret: "{{ client_secret }}",
        {% endif %}
        scope: "{{ scope }}",
      };

      var addToUrl = ""
      for( const key in args){
        addToUrl = addToUrl + "&" + key + "=" + encodeURIComponent(args[key]);
      }

      var totalURL = baseURL + addToUrl;
      return totalURL;
    }

    function openInNewTab(){
      window.open(buildURL(), '_blank').focus();
    }
  </script>
{% endif %}
{% endblock %}

{% block content %}
{% if do_openid %}
<button type="button" onclick="openInNewTab();">Log in using OpenID</button>
{% endif %}

<form action="{% url 'display_data:login' %}" method="post" id="form">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Get">
</form>
{% endblock %}
