{% extends "base.html" %}

{% block page_title %} Module summary test {% endblock %}
{% block title %} Module summary test {% endblock %}

{% block content %}

<p>
    Hey here's some content
</p>

<ul>
    <li>Time start is {{ time_start }}</li>
    <li>Time end is {{ time_end }}</li>
    <li>Runtime is {{ runtime }}</li>
</ul>

<p>
    This module, looked up by the key "{{lookup_key}}" is of type {{component_api_response.type.name}} and is at {{component_api_response.currentLocation.name}} as of the date {{component_api_response.currentLocationTs}}.
</p>
<p>
    Serial number is {{component_api_response.serialNumber}}, and component ID/code is {{module_summary_test_result.component}}.
</p>

<p>
    <a href="{{component_db_link}}">DB link to component </a>
</p>
<p>
    <a href="{{test_summary_link}}">Link to generic test summary </a>
</p>
<p>
    <a href="{{json_download_link}}">Download link for JSON</a>
</p>

<p>
    This module summary test has was produced by module test function version {{module_summary_test_result.properties.module_test_func_version}} with git hash {{module_summary_test_result.properties.module_test_git_hash}}
</p>
{% if module_summary_test_result.comments %}
<p>
    Module comments are: 
    <ul>
        {% for comment in module_summary_test_result.comments %}
        <li>
            "{{comment}}"
        </li>
        {% endfor %}
    </ul>
</p>
{% endif %}
<p>
    Module summary test checks:
</p>
<ul>
    <li>
        Module finished assembly: {{module_summary_test_result.results.module_finished_assembly}}
    </li>
    <li>
        All required sub components are present: {{module_summary_test_result.results.all_required_subcomponents_present}}. 
        {% if not module_summary_test_result.results.all_required_subcomponents_present %}
        <dl>
            {% for subcomponent_name, present in module_summary_test_result.results.required_subcomponents_present.items %}
                <dt>{{subcomponent_name}} present - </dt> <dd>{{present}}</dd>
            {% endfor %}
        </dl>
        {% endif %}
    </li>
    <li>
        All required tests done: {{module_summary_test_result.results.all_required_tests_done}}
        {% if not module_summary_test_result.results.all_required_tests_done %}
        <dl>
            {% for test_name in missing_tests %}
                <dt>{{test_name}} performed - </dt> <dd>Not done</dd>
            {% endfor %}
        </dl>
        {% endif %}
    </li>
    <li>
        <p>
            The most recent run of each required test passed: {{module_summary_test_result.results.all_recent_required_tests_passed}}
        </p>
        {% if not module_summary_test_result.results.all_recent_required_tests_passed %}
        <p>
            Failing tests:
        </p>
        <dl>
            {% for test_name, payload in module_summary_test_result.results.per_test_check.items %}
                {% if payload.0 %}
                    <!-- If test passed, don't do anything -->
                {% else %}
                    <dt>{{test_name}}</dt>
                    {% if payload.1 is not None %}
                        <dd>failed with comments:
                            <ul>
                                {% for comment_dict in payload.1 %}
                                    <li>
                                        "{{comment_dict.comment}}"
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="{{ test_id_to_url_dict|get_item:payload.2 }}">DB link to test run </a>
                            {{payload.2}}
                        </dd>
                    {% else %}
                        <dd>
                            Failed with no comment.
                            <a href="{{ test_id_to_url_dict|get_item:payload.2 }}">DB link to test run </a>
                            {{payload.2}}
                        </dd>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </dl>
        {% endif %}
    </li>
</ul>


{% if show_debug %}
    <p>For debug reasons, the module summary test dict and some other information appear below</p>
    <p>Module summary test dict:</p>

    <pre>
        {{module_summary_test_result | pprint}}
    </pre>
    <p>Component API response</p>
    <pre>{{component_api_response | pprint}}</pre>
{% endif %}

{% endblock %}