{% extends "base.html" %}

{% block page_title %} Known report {% endblock %}
{% block title %} Local test info {% endblock %}

{% block content %}

{% for test in test_comps %}
<p>Test summary for component
  <a href="{% url 'display_data:test results' test.id %}">{% if test.name %} {{ test.name }} on {% endif %} {{ test.sn }}</a> </p>
{% endfor %}

{% endblock %}
