{% extends "base.html" %}

{% load static %}

{% block page_title %} Summary {{ serialNumber }} {% endblock %}
{% block title %} Component status summary: {{ component_type }} ({{ type }}) {% endblock %}

{% block javascript %}
<script src="{% static 'main.js' %}" defer> </script>
{% endblock %}

{% block content %}

<p style="margin-bottom:0.2cm">ATLAS serial number: {{ serialNumber }} <br> </p>
<p style="margin-bottom:0.5cm">Component ID: {{ componentID }} </p>
<p style="margin-bottom:0.2cm">Parent component: {{ parents_type }} <br> </p>
{% if parents_type != 'No parent components' %}
<p style="margin-bottom:0.2cm">ATLAS serial number: <a href="{% url 'display_data:another request' parents_serial %}">{{ parents_serial }}</a> (click on link for new request) <br> </p>
<p style="margin-bottom:1cm">Component ID: {{ parents_ID }} </p>
{% endif %}

{% if link_summary %}
<p>Generated summary test: <a href="{{ link_summary }}"> here </a> </p>

{% endif %}

{% if defect_list %}
    <table style="width:100%" class="styled-table">
    <thead>
    <tr>
        <th> Defects overview </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
      <tr class="active-row">
        <th>Defect Name</th>
        <th>Segment</th>
        <th>Strip number</th>
        <th>Channel</th>
        <th>Chip bank</th>
        <th>Chip index</th>
        <th>Description</th>
        <th>Detected in:</th>
      </tr>
    {% for defect in defect_list %}
         <tr>
            <td>{{ defect.name }}</td>
            <td>{{ defect.segment }}</td>
            <td>{{ defect.strip }}</td>
            <td>{{ defect.channel }}</td>
            <td>{{ defect.chip_bank }}</td>
            <td>{{ defect.chip_index }}</td>
            <td>{{ defect.description }}</td>
            <td>{{ defect.test }}</td>
         </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p style="text-indent: 10px">No defects listed.</p>
{% endif %}


{% if latest_test_list %}
    <table style="width:100%" class="styled-table">
    <thead>
    <tr>
        <th> Tests </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
      <tr class="active-row">
        <th>Test Name</th>
        <th>Passed</th>
        <th>Tested at stage</th>
      </tr>
    {% for test in latest_test_list %}
         <tr>
            <td><a id="link" href="{% url 'display_data:detail' test.component_ID test.count %}">{{ test.test_name }}</a></td>
            <td>{{ test.passed }}</td>
            <td>{{ test.testedAtStage }}</td>
         </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p style="text-indent: 10px">No tests are available.</p>
{% endif %}


<h2>Associated tests to first layer of child components:</h2>
    <p>(Child components without tests are not listed)</p>
<hr>

{% if child_tests %}
    {% for child in child_tests %}
        <table class="styled-table">
            <thead>
                  <tr>
                    <th>{{ child.0.component_type }}</th>
                    <th></th>
                    <th></th>
                  </tr>
            </thead>
            <tbody>
              <tr class="active-row">
                <th>Test Name</th>
                <th>Passed</th>
                <th>Tested at stage</th>
              </tr>


                {% for test in child %}
                     <tr>
                        <td><a id="link" href="{% url 'display_data:detail' test.component_ID test.count %}"> {{ test.test_name }} </a></td>
                        <td>{{ test.passed }}</td>
                        <td>{{ test.testedAtStage }}</td>
                     </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% else %}
    <p>No tests associated to child components.</p>
{% endif %}
</div>
{% endblock %}

{% block loader %}
<div id="loader_box">
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
</div>
{% endblock %}
