{% extends "base.html" %}

{% block page_title %} Detail test results {% endblock %}
{% block title %} Component test results summary {% endblock %}

{% block content %}

<form style="text-indent: 10pt" action="{% url 'display_data:test results' head.request_component_id %}">
    <input type="submit" value="Back to component status" />
</form>
<div id="content">
{% if test_detail %}
    <h2>{{ test_detail.test_name }} detail view:</h2>
    <hr>
    <p> <br> </p>

    <table class="styled-table">
        <thead>
        <th> Overview </th>
        <td></td>
        </thead>
        <tr>
            <th>Test ID</th>
            <td>{{ head.id }}</td>
        </tr>
        <tr>
            <th>Passed</th>
            <td>{{ head.passed }}</td>
        </tr>
        <tr>
            <th>State</th>
            <td>{{ head.state }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ head.date }}</td>
        </tr>
        <tr>
            <th>Component ID</th>
            <td><a href="{% url 'display_data:another request' head.componentID %}">{{ head.componentID }}</a> (click on link for new request)</td>
        </tr>
        <tr>
            <th>Component Type</th>
            <td>{{ head.componentType }}</td>
        </tr>
    </table>

    {% if show_result_table %}

        <table class = styled-table>
        <thead>
            <tr>
                <th> Results </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          <tr class="active-row">
              <th>Variable</th>
              <th>Value</th>
          </tr>

          {% for result in result_list %}
          <tr>
              <td>{{ result.name }}</td>
              <td>{{ result.value }}</td>
          </tr>

          {% endfor %}
        </tbody>
        </table>
    {% endif %}
    {% for plot in plot_list %}
        <img src="data:image/png;base64, {{ plot|safe }}" height="300">
    {% endfor %}


    <table class="styled-table">
    <thead>
    <tr>
        <th>Defects</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
      <tr class="active-row">
          <th  width="40%">Name</th>
          <th>Description</th>
          <th>Properties</th>
      </tr>

      {% for defect in defects_list %}
      <tr>
          <td>{{ defect.name }}</td>
          <td>{{ defect.description }}</td>
          <td>{{ defect.properties }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>


    <table class="styled-table">
    <thead>
    <tr>
        <th>Properties</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
      <tr class="active-row">
          <th>Variable</th>
          <th>Value</th>
      </tr>

      {% for result in prop_list %}
      <tr>
          <td>{{ result.name }}</td>
          <td>{{ result.value }}</td>
      </tr>
      {% endfor %}
    </tbody>

    </table>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Comments</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          <tr class="active-row">
              <th  width="40%">Date</th>
              <th>Comment</th>
          </tr>
    
          {% for result in comment_list %}
          <tr>
              <td>{{ result.name }}</td>
              <td>{{ result.value }}</td>
          </tr>
          {% endfor %}
    </tbody>
    </table>


{% else %}
    <p>No tests are available.</p>
{% endif %}

{% endblock %}
