{% extends "base.html" %}

{% load static %}

{% block page_title %} Defect tree view  {% endblock %}
{% block title %} Component defect tree view  {% endblock %}

{% block content %}
<div>
    <p>
        Placeholder content:
    </p>
    {{ block_text }}
</div>
<div>
    <p>
        Time to run entire view function: {{view_run_time}}
    </p>
</div>
    Tree view:
    <ul>
        {% with node=root_node %}
        {% include "tree_node.html" %}
        {% endwith %}
    </ul>
{% endblock %}