{% comment %}
See https://stackoverflow.com/questions/32044/how-can-i-render-a-tree-structure-recursive-using-a-django-template
{% endcomment %}
<li>
    This node is {{ node.name }} of type {{ node.verbose_type }}, it has {{ node.children|length }} children.
    Component ID is {{ node.component_id}} (<a href="{{node.itk_db_link}}">link</a>)
    Total number of tests: {{node.test_count}}
    Number of tests passing is {{node.number_tests_passing}}, number of tests failing is {{node.number_tests_failing}},

    {% if node.number_tests_failing > 0 %}
    Failing tests are:
    <ul>
        {% for failing_test in node.failing_tests %}
        <li>{{failing_test.test_name}}, Test Run ID {{failing_test.test_id}}, tested at stage {{failing_test.testedAtStage}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if node.children|length > 0 %}
    Children:
    <ul>
        {% for child in node.children %}
            {% with node=child template_name="tree_node.html" %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}
    </ul>
    {% endif %}
</li>