{% extends "base.html" %}

{% block page_title %} UPLOAD {% endblock %}
{% block title %} Upload test {% endblock %}

{% block content %}
<p style="margin-bottom:1cm;">The content of the institution field has to match your specific institution
  code, i.e. HUBERLIN. Check ITk production database if unsure.</p>
<form action="{% url 'display_data:upload form' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Upload">
</form>
{% endblock %}
