{% extends "base.html" %}

{% block page_title %} Inst {{ inst.inst_code }}{% endblock %}
{% block title %}Page for institute {{ inst.inst_code }}{% endblock %}

{% block content %}
    <p>Summary of institute {{ inst.inst_code }} <p>

      {% for ct in comp_types %}
        <p>
          <li><a href="{% url 'display_data:view inst comp_type' inst.inst_code ct %}">
          {{ ct }}</a></li>
        </p>
      {% endfor %}
{% endblock %}
